{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">Models List</h1>
                <p class="lead text-muted">A collection of files authored by various designers from your favorite series and games.
                <br><br> Please create an account with us if you wish to purchase any of these files for your personal use. Creating an account with us confirms your adherance to our terms and conditions.
                </p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Create an account</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="pb-3 h5">All Models</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

                {% for product in products %}

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                        <div class="card-body">
                            <p class="card-text">
                                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{product.title }} <br> by {{product.author}}</a>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{product.description}}</small>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>


</main>

{% endblock %}