{% extends "../store/base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<style>
    .account-form input,
    {
    border: 2px solid #ccc;
    height: calc(2em + .75rem + 2px);
    }

    .form-control {
        border: 2px solid #ccc;
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div id="payment-form" class="col-12 col-lg-6 mx-auto">
                            <h3 class="mb-3">Billing address</h3>
                            <!-- Error messages in this element -->
                            <div id="card-errors" class="a" role="alert"></div>
                            <form>
                                <div class="row g-3">
                                    <div class="col-sm-7">
                                        <label for="firstName" class="form-label">Customer Name</label>
                                        <input type="text" class="form-control" id="custName" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="email" class="form-label">Email <span
                                                class="text-muted">(Optional)</span></label>
                                        <input type="email" class="form-control" id="email"
                                            placeholder="you@example.com">
                                        <div class="invalid-feedback">
                                            Please enter a valid email address for shipping updates.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="custAdd" placeholder="1234 Main St"
                                            required>
                                        <div class="invalid-feedback">
                                            Please enter your shipping address.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="address2" class="form-label">Address 2 <span
                                                class="text-muted">(Optional)</span></label>
                                        <input type="text" class="form-control" id="custAdd2"
                                            placeholder="Apartment or suite">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="country" class="form-label">Country</label>
                                        <select class="form-select" id="country" required>
                                            <option value="">Choose...</option>
                                            <option>United States</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid country.
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="state" class="form-label">State</label>
                                        <select class="form-select" id="state" required>
                                            <option value="">Choose...</option>
                                            <option>California</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid state.
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="Postcode" class="form-label">Postcode</label>
                                        <input type="text" class="form-control" id="postCode" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <h4 class="mb-3">Payment</h4>
                                <label for="card-element">Credit or debit card</label>
                                <div id="card-element" class="form-control form-control-payment">
                                    <!-- Payment elements will appear here -->
                                </div>
                                <hr class="my-4">
                                <button id="submit" class="btn btn-primary w-100 fw-bold"
                                    data-secret="{{ client_secret }}">Pay</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}